.contest-h5 {

    margin: 0;
    margin-left: 15px;
    h5{
        margin-bottom: 1px;
    }
}

.first-part {
    display:flex;
    flex-grow: 0;
    max-height: 40px;
}

.show-img {
    object-fit: cover;
    width: 100%;
    margin-top: 15px;
}

.show-content {
    margin-top: 15px;
}

.show-apply {
    width: 100%;
}

.map-style {
    margin-top: 20px
}

.separate {
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
    margin-top: 30px;
    margin-bottom: 30px
}

.countdown {
    p {
        font-size: 11px !important;
        font-weight: bold;
        color: rgb(140, 140, 140);
    }
}

.date {
    p{
        font-size: 14px;
    }
}