.motivation-form {
    margin-top: 30px;
    margin-bottom: 50px;
}

.send-to-orbit {
    position: absolute;
    top: -1000vh;
}

.photo-button {
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.motivation-input {
    height: 150px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.change-button {
    
}