
<div class = "container">
<h2> Live contests</h2>

<!-- to be defined what we show for contest -->
<div class='row'>
  <% @contests.each do |contest| %>
    @business_name
    @contests.location
    @contests.start_date
    @contests.end_date
  <% end %>
</div>


</div>


