<div class="main-container">
 <h3> Live contests</h3>
  <form class="comment-form" action="">
    <input id="comment-input" type="text" placeholder="Search by city">
    <input id="comment-submit" type="submit" value="Go">
  </form>
<!-- -->
  <div class="contest-grid">
    <% 4.times do %>
      <div class="contest">
          <div class="contest-preview">
            <h6> Contest </h6>
            <h5> Analog Photograpy</h5>
          </div>
          <div class="contest-info">
            <h6>Information</h6>
            <h5>Moma</h5>
            <p>New York</p>
            <p>1 - 5 September</p>
            <p class="small-pink-italic">5 days left!</p>
            <br>
            <div style="text-align:center">
              <a href="#"> View gallery </a>
              <button class="pink-button-sm-secondary"> Apply </button>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>


<!-- Need to implement this in form above, when we now what to show -->
<!--
    <h2> @contest.name </h2>
    @business_name
    @contests.location
    @contests.start_date
    @contests.end_date
 -->
