<div class = "container">
<h2> Live contests</h2>

<!-- to be defined what we show for contest -->
<div class='row'>
  <% @contests.each do |contest| %>
    @business_name
    @contests.location
    @contests.start_date
    @contests.end_date
  <% end %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>



<div class="post-tag">
<p>Painting</p>
</div>

  </div>