<div class="card-post">
    <div class="user-avatar-nickname">
      <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
      <h3><%= @user.nickname %></h3>
      <p><%= @user.type %></p>
      <div class="line-divider"></div>
      <p> <% @user.interests.each do |interest| %></p>
        <div class= 'card-post'>
        </div>

  <div class="card-post">
    <div class="post-reactions">
      <div class="reaction-type"><p class="mb-0">2 </p><i class="fal fa-comment"></i></div>
      <div class="reaction-type"><p>100 </p><i class="fal fa-heart"></i></div>
    </div>
  </div>
  <div class="post-content">
    <img class="post-image" src="https://images.squarespace-cdn.com/content/v1/54ef4d4ee4b002862ddb9057/1491229335309-UWAH4YMHQ4B7EAD4H6C6/ke17ZwdGBToddI8pDm48kE-iQx--1bZ3rNNmb-PgpwF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmG94TGNuzCcCPVStE9JyN8HZDuWyOUy1zY2XJJ2gPjFoKZzRsIC28YWt-Zp6CxD1v/IMG_2389.JPG" alt="">
    <div class="post-description">
      <div id="like-button"><i class="fal fa-heart"></i></div>

    </div>
  </div>
  </div>
  <div class="line-divider"></div>
</div>
