<div class="footer">
  <div class="footer-links">
    <div class="tab"><a href="#"><i class="fal fa-home-alt"></i></a></div>
    <div class="tab"><a href="#"><i class="fal fa-medal"></i></a></div>
    <div class="tab"><a href="#"><i class="fal fa-plus-square"></i></a></div>
    <div class="tab"><a href="#"><i class="fal fa-paper-plane"></i></a></div>
  </div>
</div>
