<div class="footer">
  <div class="footer-links">
    <div class="tab"><a href="/posts"><i class="fal fa-home-alt"></i></a></div>
    <div class="tab"><a href="/posts/new"><i style = "font-size: xxx-large; padding-top: 8px;" class="fal fa-plus-square"></i></a></div>
    <div class="tab"><a href="/contests"><i class="fal fa-award"></i></a></div>
  </div>
</div>
