
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <a class="navbar-brand" href="#">
      <%= image_tag "logomuses.png" %>
  </a>
    <% if current_user %>
      <div data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">My profile</a>
              <a class="dropdown-item" href="#">Dashboard</a>
              <a class="dropdown-item" href="#">Log out</a>
            </div>
      </div>
    <% else %>
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-links" href="#">Sign up</a>
          </li>
        </ul>
      </div>
    <% end %>

  </div>

