<div class="toggle-container">
  <div class = "toggle-section">
    <div class="toggle-category-left">Discover</div>
      <div class="toggle-button">
        <div class="ball"></div>
      </div>
    <div class="toggle-category-right">My Feed</div>
  </div>
</div>
