<div id="toggle-container">
  <div id = "toggle-section">
    <div id="toggle-category-left">Discover</div>
      <div id="toggle-button">
        <div id="ball"></div>
      </div>
    <div id="toggle-category-right">My Feed</div>
  </div>
</div>
