<div class="container">
<br>
<div class="pink-button-lg">This is a lg button</div>
<br>
<br>
<div class="pink-button">Norm pink button</div>
<br>
<br>
<div class="pink-button-secondary">Normal sec button</div>
<br>
<br>
<div class="pink-button-sm">Follow</div>
<br>
<br>
<div class="pink-button-sm-secondary">Sign up</div>

</div>

