

<div class="main-container">
  <div class="post-content" style= "text-align: center">

      <div class="post-image"><%= image_tag url_for(@contest_application.contest.photo), width: '100%'%></div>

     <div class="post-description mb-2">
      <h3>Premium Subscription</h3>
      <p>Premium membership grants you unlimited access to contest applications and open chat with all galleries and museums.</p>
      <p>You will be prompted to the payment section to set-up your recurrent monthly payment</p>
    </div class= mb-2>
      <button style= "margin: auto" id="pay" class="pink-button">Pay Premium membership</button>
  </div>


      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @contest_application.checkout_session_id %>'
          });
        });
      </script>

</div>
