// From Airpool to be adapted as needed
.banner {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  h1{
    font-family: $headers-font;
    color: $black;
    line-height: 3rem;
    text-align: center;
    font-weight: 700;
    margin: 22px;
  }

  .pink-button {
    display: block;
    width: fit-content;
    margin: 15px auto 30px;
  }

}

