
.pink-button-lg{
  background-color: $pink;
  font-weight: bold;
  font-family: $body-font;
  color: rgb(20, 20, 20);
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border: 1px solid $pink;
  display: block;
  box-shadow: 5px 10px 5px 0 rgba(245, 146, 133, 0.1);
  width: 80%;
  border-radius: 25px;

  a {
    color: rgb(20, 20, 20);
    text-decoration: none;
  }

}

.pink-button{
  background-color: $pink;
  font-family: $body-font;
  font-weight: 400;
  color: rgb(20, 20, 20);
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid $pink;
  display: block;
  box-shadow: 5px 10px 5px 0 rgba(245, 146, 133, 0.1);
  min-width: 140px;
  min-height: 40px;
  a {
    color: rgb(20, 20, 20);
    text-decoration: none;
  }

}

.pink-button-secondary{
  background-color: none;
  font-family: $body-font;
  font-weight: 400;
  color: $pink;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  border-style: solid;
  border-width: 0.7px;
  border-color: $pink;
  display: inline-block;
  box-shadow: 5px 10px 5px 0 rgba(245, 146, 133, 0.1);
  width: 80%;
    a {
      color: $pink;
      text-decoration: none;
    }
  }

.pink-button-sm{
  background-color: $pink;
  font-family: $body-font;
  font-weight: 400;
  font-size: 14px;
  color: rgb(20, 20, 20);
  line-height: 25px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  border-style: solid;
  border-width: 0.7px;
  border-color: $white;
  display: inline-block;
  box-shadow: 5px 10px 5px 0 rgba(245, 146, 133, 0.1);
  width: 75px;
  height: 30px;
  a {
    color: rgb(20, 20, 20);
    text-decoration: none;
  }

}

.pink-button-sm-secondary{
  font-family: $body-font;
  font-weight: 400;
  font-size: 14px;
  color: $pink;
  text-decoration: none;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
  border-radius: 50px;
  border-style: solid;
  border-width: 0.7px;
  border-color: $pink;
  display: inline-block;
  box-shadow: 5px 10px 5px 0 rgba(245, 146, 133, 0.1);
  width: 75px;
  height: 30px;
  a {
    color: $pink;
    text-decoration: none;
  }

}
