.card-post {
  background-color: $white;
  padding: 7px;
  // box-shadow: 6px 6px 10px -5px #888888;
}
.card-post-top-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-avatar-nickname {
  display: flex;
  align-items: left;
}

.post-reactions {
  display: flex;
  align-items: right;
  width: auto;
}

.reaction-type {
  display: flex;
  align-items: right;
 justify-content: space-between;
 padding: 4px;
}

.post-image {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
}


.post-description h5 {
  margin-bottom: 5px;
}
.post-description p {
  margin-bottom: 5px;
  font-size: 12px;
}


.post-comments-container {
  display: flex;
  flex-direction: column;
}
.post-comment-single {
  font-size: 12px;
}



