
.notification-one {
  height: 85px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);

}


.notification-one .notification-one-content {
  flex-grow: 1;
  padding: 0 6px;
}

.notification-one p {
  margin: 0;
  line-height: 1;
}



