
.notification-one {
  height: 85px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);

}


.notification-one .notification-one-content {
  flex-grow: 1;
  padding: 0 6px;
}

.notification-one p {
  margin: 0;
  line-height: 1;
}

.content-preview {
  font-size: 14px;
  color: rgb(120, 120, 120) !important;
}

.nickname-time {
  display:flex;
  justify-content: space-between;
}

.time-box {
  margin-right: -270px;
  margin-top: -10px;
}