.page-container {
  flex-grow: 1;
  height: calc(100vh - 120px);
  overflow-y: scroll;
}

.main-container {
  padding: 10px 16px;

   h2 {
    font-weight: 600;
   }
}

.center-button{
  display: inline-block;
  margin: 0 auto;
}

.container-flex{
  display: flex;
}
.container-flex{
  display: flex;
}
