.contest-grid {
  margin-top: 5px;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
=======
  display: grid;
  grid-template-columns: 1fr 1fr;
>>>>>>> d912ec5ce5c56d2b79cf678a70b0a4dd0da2839c
}


.contest {
  background-color: $white;
  border: 1px solid $light-brown;
  border-radius: 5px;
  // box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  display: flex;
  // max-width: 100%;
<<<<<<< HEAD
  margin: 5px 0;
  overflow: hidden;
  width: 100%;
=======
  margin: 5px;
  overflow: hidden;
  width: 95%;
}

.contest h2 {
  letter-spacing: 1px;
  margin: 10px 0;
>>>>>>> d912ec5ce5c56d2b79cf678a70b0a4dd0da2839c
}

.contest h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contest h5 {
  letter-spacing: 1px;
  margin: 0;
}

.contest p {
  margin: 0;
<<<<<<< HEAD
=======
}

.contest-preview {
  background-color: rgba($light-brown,0.7);
  color: $black;
  padding: 10px;
  height: 100px;
  // max-width: 250px;

}

.contest-preview a {
  color: $white;
  display: inline-block;
>>>>>>> d912ec5ce5c56d2b79cf678a70b0a4dd0da2839c
  font-size: 12px;
}

.contest-line {
  width: 15px;
  background-color: $light-brown;
}
.contest-info {
<<<<<<< HEAD
  width:100%;
  margin: 10px;
  position: relative;
  text-align: left;
}

.contest-links {
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align:center;
  justify-content: space-around;
  width: 190px;
  margin: 10px auto 0;
=======
  padding: 10px;
  position: relative;
  text-align: left;
>>>>>>> d912ec5ce5c56d2b79cf678a70b0a4dd0da2839c

}

.small-pink-italic {
  color: $pink;
  font-style: italic;
  font-size: 12px;
}

#publish-contest-btn {
  position: absolute;
  bottom: 60px;
  left: 40px;
  z-index: 1;
}

// .contest-preview a {
//   color: $white;
//   display: inline-block;
//   font-size: 12px;
//   opacity: 0.6;
//   margin-top: 30px;
//   text-decoration: none;
// }
