.dashboard-container {
  display: grid;

    h1 {
      color: $black;
    }
}

.card-dashboard {
  overflow: hidden;
  background: white;
  padding: 15px;
  // display: flex;
  align-items: center;
  border-radius: 5px;
}

.card-dashboard h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  // border-bottom: 1px solid $gray;

}


.card-dashboard .card-dashboard-infos {
  padding: 16px;
}
