.card-post {
  background-color: $white;
  padding: 7px;
  text-align: center;
  margin-bottom: 2px;
  // box-shadow: 6px 6px 10px -5px #888888;
}
.card-post-top-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  a {
    color: $black;
  }
}

.post-follow-link {
  color: $pink;
  text-decoration: underline;
  font-size: 12px;
  padding-left: 0.5rem;
}

.user-avatar-nickname {
  display: flex;
  align-items: center;
  padding: 4px 0;
  p {
    margin-bottom: 0px;
    margin-left: 6px;
    font-size: 16px;
  }
}

.post-reactions {
  display: flex;
  align-items: right;
  width: auto;
}

.reaction-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0 4px 4px;
  p {
    margin-bottom: 0px;
    margin-right: 4px;
    font-size: 12px;
  }
}

.post-image {
  object-fit: cover;
  width: 100%;
  margin-top: 2px;
}

.carousel-item {
height: 300px;
overflow: hidden;
width: 100%;
}
.carousel-item img {
width: 100%;
}

.post-description {
  margin-top: 4px;
  text-align: left;
  padding: 0 10px;
  position: relative;
  margin-bottom: 5px;
}

.post-description h5 {
   margin-top: 5px;
  margin-bottom: 5px;
}
.post-description p {
  margin-bottom: 5px;
  font-size: 14px;
}

#like-button {
  position: absolute;
  right: 9px;
  font-size: 16px;
}

.show-description-link.active {
  display: block;
  color: $pink;
  font-style: italic;
}

.show-description-link {
  display: none;
}

.hide-description-link.active {
  display: block;
  color: $pink;
  font-style: italic;
}

.hide-description-link {
  display: none;
}

.short-description {
  display: none;
}
.short-description.active {
  display: block;
}

.full-description {
  display: none;
}
.full-description.active {
  display: block;
}



.line-divider {
  height: 0px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: inline-block;
  margin-bottom: 2px;
}

.post-comments-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 10px;
  p {
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0 10px;
  }
}

.display-comments-link.active {
  display: block;
  color: $pink;
  font-style: italic;
}

.display-comments-link {
  display: none;
}

.hide-comments-link.active {
  display: block;
  color: $pink;
  font-style: italic;
}

.hide-comments-link {
  display: none;
}

.hidden-comments {
  display: none;
}

.hidden-comments.active {
  display: block;
}


.comment-form {
  height: 30px;
  padding: 0 5px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  font-family: $body-font;
  font-size: 12px;
  border-radius: 50px;
  flex-grow: 1;
  display: flex;
}

.comment-input {
  font-size: 14px;
  border: none;
  background-color: transparent;
  flex-grow: 1;
  padding: 10px 10px;
}

.comment-submit {
  font-size: 14px;
  color: $pink;
  font-weight: bolder;
  border: none;
  background-color: transparent;
  flex-grow: 0;
}
