.home-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  // &#create {
  //   .home-image {
  //     width: 80%;
  //   }

  //   .home-content{
  //     width: 75%;
  //     align-self: flex-end;
  //     margin-top: -65px;
  //   }
  // }

  &#share {
    .home-image {
      width: 75%;
    }

    .home-content{
      width: 65%;
      margin-top: -65px;
      align-self: flex-end;

    }
  }
  &#connect {
    .home-image {
      width: 90%;
      align-self: flex-end;
    }

    .home-content{
      width: 70%;
      margin-top: -65px;

    }
  }

  &#showcase {
    .home-image {
      width: 85%;

    }

    .home-content{
      width: 68%;
      margin-top: -65px;
      align-self: flex-end;

    }


  }
}

.home-content {
  // position: absolute;
  // bottom: 40px;
  // right: 0;
  // z-index: 1;
  background-color: #343358;
  padding: 20px;

  * {
    color: $white;
  }

  h2 {
    font-weight: 600;
  }

  h3 {
    font-weight: 300;
  }



}

.carousel-home-container {
  display: flex;
  height: 187px;

  // height: 50vh;

}

.carousel-home-image {
  height: 50vw;
  width: 50vw;
  background-size: cover;
  background-position: center center;
}

.home-links a {
  color: $pink;
  transition: 0.7s;
  text-decoration: none;

  &:hover {
    color: $white;
    font-weight: bold;
    transition: 0.7s;
  }
}

.logo-banner {
  align-items: center;
}


