.application-back {
  color: grey;
  position: relative;
  left: -145px;
  top: 5px;
}

#accept-app-contest-btn {
  text-align: center;
  position: absolute;
  bottom: 65px;
  left: 85px;
}

#reject-app-contest-btn {
  text-align: center;
  position: absolute;
  bottom: 65px;
  right: 85px;
  background-color: white;

}
